node_modules/
npm-debug.log*
.DS_Store
backup.sql

content/data/*.db
content/data/*.json
config.production.json

content/logs/
!content/logs/.gitignore

content/themes/*
!content/themes/.gitkeep

content/public/
content/settings/
